main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  a {
    color: red;
    text-decoration: none;
  }

  h1 {
    color: lightcoral;

  }

  footer {
    padding: 40px;
    background-color: green;
    font-size: 200%;
  }

  nav {
    background-color: black;
    /* font-size: 200%; */
  }


  /* Then, we applied colors to the a tags for the recipes, as well as to the h1 tags to stay consistent with our theme. */
