 body {
    margin: 0;
    padding: 0;
  }

  .kiełbasa {
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
    background-color: green;
    font-size: 200%;
  }

  img {
    height: 200px;
  }

  nav {
    background-color: black;
    padding: 16px;
  }

  a {
    color: red;
    text-decoration: none;
  }

  h1 {
    color: lightcoral;

  }

  .grid tr:nth-child(even) {
    background-color: lightgrey;
  }
